/* GENERAL STYLES */
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    background-image: url("../img/wave.png"), linear-gradient(135deg, rgb(51, 255, 87), #6495ED);
    background-repeat: no-repeat;
    background-position: left 100%;
    background-size: 100%;
    font-size: 100%;
    width: 100%;
    height:  100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* @font-face rules */
@font-face {
    font-family: "meticularegular";
    src: url("../font/meticula-webfont.woff2") format("woff2"),
         url("../font/meticula-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/* Container of Form */
.contact {
    background-color: #fff;
    box-shadow: 0 0 5px #555;
    color: #333;
    width: 500px;
    height: 500px;
    border-radius: 25px;
    padding: 20px;
    font-family: "meticularegular", Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 50px;
    grid-gap: 20px;
    grid-template-areas: 
    "contact-title contact-title"
    "inputs-col1   inputs-col2"
    "msg           msg"
    "footer        footer";
}

/* All inputs in contact */
.contact .input {
    margin: 5px;
    font-size: 15px;
    transition: background-color 0.5s, border 0.3s;
    background-color: #e1e1e1;
    outline: none;
    border: none;
}

/* Inputs focused */
.contact .input:focus {
    border-color:#333;
}

/* Labels */
.contact label {
    font-size: 1.2em;
    padding-left: 10px;
    margin-top: 8px;
}

/* All inputs in columns */
.columns .input {
    padding: 8px;
    border-bottom: 3px solid #ccc;
    background-color: transparent;
}

/* Grid items */
.contact-title {
    font-size: 1.5em;
    grid-area: contact-title;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.inputs-col1 {
    grid-area: inputs-col1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.inputs-col2 {
    grid-area: inputs-col2; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.msg {
    grid-area: msg;
    display: flex;
    flex-direction: column;
}

.msg .input {
    border-radius: 5px;
    padding: 1em;
    height: 100px;
    resize: none;
    font-family: "meticularegular", Helvetica, sans-serif;
}


.contact-footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
}

/* -- Buttons -- */
.btn {
    margin: 10px;
    color: #fff;
    flex-basis: 200px;
    border-style: none;
    font-size: 1.3rem;
    border-radius: 50px;
    cursor: pointer;
    font-family: "meticularegular", Helvetica, sans-serif;
}

/* Submit button */
.contact-submit {
    background-image: linear-gradient(to right, rgb(51, 255, 87), #6495ED);
}

/* Cancel button */
.contact-cancel {
    background-image: linear-gradient(to right, #ff8c00,#dc143c);
}
