/* Reset CSS */
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* @font-face rules */
@font-face {
    font-family: "meticularegular";
    src: url("../font/meticula-webfont.woff2") format("woff2"),
         url("../font/meticula-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/* Body */
body {
    width: 100%;
    height:  100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../img/wave.png"), linear-gradient(135deg, rgb(51, 255, 87), #6495ED);
    background-repeat: no-repeat;
    background-position: left 100%;
    background-size: 100%;

    font-size: 100%;
    font-family: "meticularegular", Helvetica, sans-serif;
}



/* Contact Form */
.contact {
    width: 500px; height: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2.5em 1fr 1fr 3em;
    grid-gap: 20px;
    grid-template-areas:
    "contact-title contact-title"
    "left-inputs right-inputs"
    "message message"
    "footer footer";

    background-color: #fff;
    box-shadow: 0 0 5px #555;
    color: #333;
    border-radius: 25px;
    font-family: "meticularegular", Helvetica, sans-serif;
}

.contact-title {
    grid-area: contact-title;
    display: flex;
    justify-content: center;

    font-size: 1.5em;
    text-transform: uppercase;
}

/* All inputs in contact */
.contact .input {
    margin: 5px;
    outline: none;

    transition: background-color 0.5s, border 0.3s;
    background-color: #e1e1e1;
    border: none;
    font-size: 1em;

}

/* Inputs focused */
.contact .input:focus {border-color:#333;}

/* Labels in contact form */
.contact label {
    padding-left: 10px;
    margin-top: 8px;

    font-size: 1.2em;
}

/* All inputs in each columns */
.columns .input {
    padding: 8px;

    border-bottom: 3px solid #ccc;
    background-color: transparent;
}

.left-inputs {
    grid-area: left-inputs;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.right-inputs {
    grid-area: right-inputs;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.message {
    grid-area: message;
    display: flex;
    flex-direction: column;
}

.message .input {
    padding: 1em;
    height: 100px;
    resize: none;

    border-radius: 5px;
    font-family: "meticularegular", Helvetica, sans-serif;
}


.contact-footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
}

/* -- Buttons -- */
.btn {
    margin: 10px;
    flex-basis: 200px;

    color: #fff;
    border-style: none;
    font-size: 1em;
    border-radius: 50px;
    cursor: pointer;
    font-family: "meticularegular", Helvetica, sans-serif;
}

.btn-submit {background-image: linear-gradient(to right, rgb(51, 255, 87), #6495ED);}

.btn-reset {background-image: linear-gradient(to right, #ff8c00,#dc143c);}
