/* RESPONSIVE */
@media screen and (max-width: 1000px) {
    .contact {
        margin: 10px;
        height: auto;
        grid-template-columns: 1fr ;
        grid-template-rows: auto 1fr 1fr auto;
        grid-template-areas:
        "contact-title"
        "left-inputs"
        "right-inputs"
        "message"
        "footer";
    }

    .contact-title {
        font-size: 1.3em;
    }

    .contact label, .btn{
        font-size: 1em;
    }

    .contact-footer {
        flex-direction: column;
    }

    .contact-footer .btn {
        flex-basis: 2.3em;
    }
}
